@model Common.MenuItem

@{
    ViewData["Title"] = "Create";
}

<h4>Insert New Menu Item:</h4>
<form method="post">
    <table>
        <tr>
            <td>Text:</td>
            <td><input type="text" name="Text" /></td>

        </tr>
        <tr>
            <td>Value:</td>
            <td><input type="text" name="Value" /></td>

        </tr>
        <tr>
            <td>Order:</td>
            <td><input type="number" name="Order" /></td>

        </tr>

    </table>
    <input type="submit" value="Add New Menu Item" />
</form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
