@model Common.MenuItemList

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>MenuItem</h4>
<hr />
<form method="post" asp-action="Update">

    @*@foreach (var menu in Model.menuitemsUpdate.ToList())*@
    @for (int i = 0; i < Model.menuitemsUpdate.Count(); i++)
    {

        <table>
            <tr>
                <td>Text:</td>
                <td><input type="text" value="@Model.menuitemsUpdate.ElementAt(i).Text" name="Text" /></td>
            </tr>
            <tr>
                <td>Value:</td>
                <td><input type="number" value="@Model.menuitemsUpdate.ElementAt(i).Value" name="Value" /></td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
        </table>

    }
    <input type="submit" value="Update Items" />
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
